@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave1 {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(300px); /* 아래로 이동 */
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes wave2 {
  0% {
    transform: translateY(0); /* 위에서 시작 */
  }
  50% {
    transform: translateY(-500px); /* 위로 이동 */
  }
  100% {
    transform: translateY(0);
  }
}
.animate-wave1 {
  animation: wave1 3s ease-in-out infinite;
}

.animate-wave2 {
  animation: wave2 3s ease-in-out infinite;
}
@keyframes customPulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.custom-pulse {
  animation: customPulse 6s ease-in-out infinite;
}

/* TODO: 공통 css tailwind.config.ts에 등록*/
.bg-chart {
  background-color: #252525;
}
.color-primary {
  color: #ffc660;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

table > thead > tr:hover {
  background-color: transparent !important;
}

table > tbody > tr:hover {
  background-color: transparent !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@media screen and (max-width: 640px) {
  .onclick-link-gap {
    gap: 3.2vw;
  }
}
@media screen and (min-width: 640px) {
  .onclick-link-gap {
    gap: 2.6vw;
  }
}
